.post {
  width: 100%;
}

.postTop {
  display: flex;
  align-items: center;
}
  
.postProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
  
.postUserName {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  margin: 0 20px;
}
.postDate {
  font-size: 12px;
  color: whitesmoke;
}