.topbarContainer {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    padding: 0px 100px 0px 100px;
  }

.topbarLeft {
    flex: 3;
}

.topbarCenter {
    flex: 6;
    color: #ffffff;
    padding: 0px 70px 0px 70px;
    height: inherit;
    
}

.topbarRight {
    flex: 3;
    text-align: right;
}

.topbarIcons {
    display: flex;
    top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

.topbarIconItem {
    flex: 2;
    color: white;
    text-align: center;
}

.topbarIconBadge {
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: relative;
    top: -115%;
    right: -48%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarLogo {
    width: 40px;
    height: 40px;
}