.topbarContainer {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: #ffffff;
    padding: 0px 100px;
    z-index: 100;
  }
  
  .topbarLeft {
    flex: 3;
  }
  
  .topbarLogo {
    border: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
  }
  
  .topbarCenter {
    flex: 6;
    color: #ffffff;
    padding: 0px 70px;
    height: inherit;
  }
  
  .topbarRight {
    flex: 3;
    text-align: right;
  }
  
  .topbarIcons {
    height: 70px;
    display: flex;
  }
  
  .topbarIconItem {
    flex: 2;
    color: white;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    margin: 2px;
    border-radius: 10px;
    border: 0;
    padding: 0;
  }
  
  .topbarIconItem:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .topbarIconBadge {
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: relative;
    top: 0;
    right: -48%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .topbarSettingsBtn {
    border: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .topbarSettingsList {
    width: 180px;
    position: absolute;
    top: 50px;
    right: 90px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    text-align: left;
    padding: 0;
    list-style-type: none;
  }
  
  .topbarSettingsItem {
    width: 100%;
    height: 40px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    padding: 0 20px;
    text-align: left;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .topbarSettingsItem:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .topbarSettingsItem:not(:last-child) {
    border-bottom: 1px solid #555555;
  }